body {
  margin: 0;
  display: flex;
  /* justify-content: center; */
  padding: 2%;
  /* align-items: center; */
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;

  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;

 flex-direction: column;

}

.tab-container {
  width: 992px;
  display: flex;
  width: inherit;

  /* margin: 0 auto; */
}

.tab-header {
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: column;

}

.btn {
  position: relative;
  top: 1px;
  /* width: 33.3%; */
  background-color: transparent;
  /* border: none; */
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;

  outline: none;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
}

.btn.active {
  border: 1px solid #00e256;
  /* border-bottom-color: #fff; */
  border-right-color: #00e256;

  border-radius: 5px 5px 0 0;
}

.tab-body {
  padding: 0.5rem 1rem;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}